# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*.local
*.pem

# i want to ignore all .env files
# but not .env.example or .env.production
# so i will ignore all .env files except .env.example and .env.production
.env*
!.env.example
!.env.production

