# -----------------------------------------------
# Gemini API — get your key at:
# https://aistudio.google.com/app/apikey
# -----------------------------------------------
GEMINI_API_KEY=GEMINI_API_KEY
FLASK_ENV=production
FLASK_PORT=5001
